<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" integrity="sha384-HSMxcRTRxnN+Bdg0JdbxYKrThecOKuH5zCYotlSAcp1+c8xmyTe9GYg1l9a69psu" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/main.css">
</head>

<body class="body">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li>
                <a href="{{url_for('home')}}" class="home-link">
                    secureStream
                </a>
            </li>
        </ul>
    </nav>

    <div class="stream-link">
        <h1 class="site-title">LiveStream</h1>
        <a href="{{url_for('videoStream')}}">
            <button class="btn btn-primary btn-lg election-button button">
                View Video Stream
            </button>
        </a>
    </div>
</body>